<div margin="10%" width="80%">
<p>
  We all heard the term <i>"dog years"</i>, or the phrase <i>"one year for your dog is seven years for you"</i>,
  which simply means that your dog has a shorter life expectancy then you. 
</p>
<p>
  Is there a way to be more precise then that? After all, 
  small dogs live longer then large dogs. How about you have a cat or a bird?
  <br>
  Just enter the type of your pet and the date of birth and you will know its <i>"pet"</i> age.
</p>
<p>
  Another way to look at this is that your pet lives a <b>faster</b> life, not a <b>shorter</b> one.
  If you take the seven to one ratio as an example, it means that:
</p>
  <ul>
    <li>one second for you is seven seconds for him, </li> 
    <li>one minute for you is seven minutes for him, </li> 
    <li>one hour for you is seven hours for him, </li> 
    <li>finally, he lives seven days in one of yours. </li> 
  </ul>
<p> 
  All this information can be displayed on a clock whose hands move faster depending on the pet type. 
  If you enter your pet's name and date of birth, the adjusted age will be calculated.
  For reference, a second regular clock is shown. As you can see the time flies faster for your pet.  
</p>
<p>
  Make every second count!
</p>
</div>